.container {
	width: 90%;
	height: 1000px;
	background-color: black;
	margin: 40px auto;
}

.upper-frame {
	top: 82px;
    left: 37.5%;
    width: 196px;
    height: 126px;
    border: solid 5px red;
    border-color: red transparent transparent transparent;
    border-radius: 59%/24px 24px 0 0;
    position: absolute;
}

.right-frame {
	top: 90px;
    left: 46.8%;
    width: 112px;
    height: 205px;
    border: solid 5px red;
    border-color: red transparent transparent transparent;
    border-radius: 53%/17px 17px 0 0;
    -webkit-transform: rotate(50deg);
    position: absolute;
}

.left-frame {
	top: 90px;
    left: 36.9%;
    width: 112px;
    height: 205px;
    border: solid 5px red;
    border-color: red transparent transparent transparent;
    border-radius: 53%/17px 17px 0 0;
    -webkit-transform: rotate(-50deg);
    position: absolute;
}

.hood {
	top: 169px;
    left: 27.2%;
    border-bottom: 80px solid red;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-radius: 65%/17px 17px 0 0;
    width: 311px;
    position: absolute;
}

.hood:after {
    content: "";
    left: -50px;
    top: 80px;
    width: 411px;
    height: 22px;
    border-radius: 65%/26px 26px 0 0;
    -webkit-transform: rotate(180deg);
    background: red;
    position: absolute;
}

.right-light {
	position: absolute;
    left: 575px;
    top: 252px;
    width: 94px;
    height: 62px;
    border-radius: 35%/30px 12px 27px 15px;
    -webkit-transform: skew(-24deg) rotate(-12deg);
    background: white;
    z-index: 2;
}

.left-light {
	position: absolute;
    left: 272px;
    top: 252px;
    width: 90px;
    height: 62px;
    border-radius: 35%/12px 30px 15px 27px;
    -webkit-transform: skew(24deg) rotate(12deg);
    background: white;
    z-index: 2;
}

.bumper {
	position: absolute;
    width: 413.7px;
    height: 125px;
    left: 264.4px;
    top: 251px;
    border-radius: 40%/30px 30px 4px 4px;
    -webkit-transform: rotate(180deg);
    background-color: red;
    z-index: 1;
}

.grill {
	width: 174px;
    right: 98px;
    bottom: 21px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 70px solid silver;
    border-radius: 8%/40px 40px 10px 10px;
    position: absolute;
}

.left-sm-light {
	width: 0;
	height: 0;
	top: 0;
	left: 0;
	border-top: 40px solid white;
	border-right: 60px solid transparent;
	position: absolute;
}

.left-tire {
	width: 68px;
    height: 42px;
    left: 275px;
    top: 356px;
    border-radius: 20%/0px 0px 10px 10px;
    background-color: grey;
    position: absolute;
}

.right-tire {
	width: 68px;
    height: 42px;
    left: 598px;
    top: 356px;
    border-radius: 20%/0px 0px 10px 10px;
    background-color: grey;
    position: absolute;
}